In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/My Drive/MyData/FE462.csv'

In [ ]:
import pandas as pd
import numpy as np
file_path = '/content/drive/My Drive/FE462.csv'
df = pd.read_csv(file_path)
df.head()

<ipython-input-3-8517414c3972>:4: DtypeWarning: Columns (14,15,16,17,19,20,23,24,26,28,29,30,31,32,39,40,41,43,44,47,50,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,73,75,76,77,78,79,80,81,82,83,84,86,90,91,92,93,94,95,96,97,99,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,Unnamed: 0,RESEARCH_ID,SAMPLE_ID,COLLECTYEAR,REGN_DATE,GENDER_NAME,AGE_YEARS,AGE_DAYS,AGE_MONTHS,CITY_NAME,...,'Leucocyte esterase','Concentration','Creatinine in Serum','Sodium (Na) in Serum','Bilirubin (Direct)','Magnesium (Mg) in Serum','Titre on Hep2 cells','HDL Cholesterol','Globulin in Serum','Cystatin C'
0,0,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,...,Absent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15708.0,524.0,Albaha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,...,NaN,NaN,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print (df.shape,"شكل البيانات")
print (df.dtypes,"نوع البيانات")
print (df.isnull().sum(),"حجم البيانات")

(900000, 102) شكل البيانات
Unnamed: 0                     int64
RESEARCH_ID                   object
SAMPLE_ID                     object
COLLECTYEAR                  float64
REGN_DATE                     object
                              ...
'Magnesium (Mg) in Serum'     object
'Titre on Hep2 cells'         object
'HDL Cholesterol'             object
'Globulin in Serum'          float64
'Cystatin C'                  object
Length: 102, dtype: object نوع البيانات
Unnamed: 0                        0
RESEARCH_ID                       0
SAMPLE_ID                         0
COLLECTYEAR                   61962
REGN_DATE                         0
                              ...
'Magnesium (Mg) in Serum'    882879
'Titre on Hep2 cells'        897663
'HDL Cholesterol'            594685
'Globulin in Serum'          624329
'Cystatin C'                 899992
Length: 102, dtype: int64 حجم البيانات

In [ ]:
import pandas as pd
import numpy as np
file_path = '/content/drive/My Drive/FE462.csv'
df = pd.read_csv(file_path, nrows=100000)
df.to_excel('FE462.xlsx', index=False, engine="openpyxl")
print("تم تحويل الملف إلى ملف Excel بنجاح")

<ipython-input-1-a8ae9679c7c8>:4: DtypeWarning: Columns (14,16,17,19,20,24,26,28,29,30,31,32,39,40,41,42,43,44,50,53,54,55,56,57,58,59,61,62,63,64,66,67,68,73,75,76,77,78,79,80,81,82,83,84,90,91,92,93,95,96,97,99) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, nrows=100000)

تم تحويل الملف إلى ملف Excel بنجاح

In [ ]:
df = df.drop(df.columns[0], axis=1)
df.head()

,RESEARCH_ID,SAMPLE_ID,COLLECTYEAR,REGN_DATE,GENDER_NAME,AGE_YEARS,AGE_DAYS,AGE_MONTHS,CITY_NAME,HEIGHT,...,'Leucocyte esterase','Concentration','Creatinine in Serum','Sodium (Na) in Serum','Bilirubin (Direct)','Magnesium (Mg) in Serum','Titre on Hep2 cells','HDL Cholesterol','Globulin in Serum','Cystatin C'
0,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,0,...,Absent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15708.0,524.0,Albaha,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R015-23-48315,19152054R015-23-48315,2015.0,2015-01-01,FEMALE,43.0,15706.0,524.0,Albaha,0,...,NaN,NaN,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_cleaned = df.drop_duplicates()
print(f"عدد الصفوف قبل المسح: {len(df)}")
print(f"عدد الصفوف بعد المسح: {len(df_cleaned)}")

عدد الصفوف قبل المسح: 900000
عدد الصفوف بعد المسح: 899915

In [ ]:
duplicates = df[df.duplicated()]
print(f"عدد الصفوف التي تم حذفها المكررة كاملة{len(duplicates)}")
print(duplicates)

عدد الصفوف التي تم حذفها المكررة85
           RESEARCH_ID                SAMPLE_ID  COLLECTYEAR   REGN_DATE  \
362     R015-23-499866  231517708R015-23-499866       2015.0  2015-01-01
363     R015-23-499866  231517708R015-23-499866       2015.0  2015-01-01
364     R015-23-499866  231517708R015-23-499866       2015.0  2015-01-01
365     R015-23-499866  231517708R015-23-499866       2015.0  2015-01-01
366     R015-23-499866  231517708R015-23-499866       2015.0  2015-01-01
...                ...                      ...          ...         ...
3152    R015-23-538673    6154765R015-23-538673          NaN  2015-01-01
3153    R015-23-538673    6154765R015-23-538673          NaN  2015-01-01
3154    R015-23-538673    6154765R015-23-538673       2015.0  2015-01-01
172334  R015-23-679712  431617172R015-23-679712          NaN  2016-03-08
172353  R015-23-602564  431617183R015-23-602564          NaN  2016-03-08

       GENDER_NAME  AGE_YEARS  AGE_DAYS  AGE_MONTHS CITY_NAME  HEIGHT  ...  \
362         FEMALE       39.0   14238.0       475.0   Madinah       0  ...
363         FEMALE       39.0   14238.0       475.0   Madinah       0  ...
364         FEMALE       39.0   14238.0       475.0   Madinah       0  ...
365         FEMALE       39.0   14238.0       475.0   Madinah       0  ...
366         FEMALE       39.0   14238.0       475.0   Madinah       0  ...
...            ...        ...       ...         ...       ...     ...  ...
3152        FEMALE        NaN       NaN         NaN    Jeddah       0  ...
3153        FEMALE        NaN       NaN         NaN    Jeddah       0  ...
3154        FEMALE       46.0   16802.0       560.0    Jeddah       0  ...
172334        MALE        NaN       NaN         NaN    Riyadh       0  ...
172353        MALE        NaN       NaN         NaN    Riyadh       0  ...

        'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
362                      NaN              NaN                   NaN
363                      NaN              NaN                   NaN
364                      NaN              NaN                   NaN
365                      NaN              NaN                   NaN
366                      NaN              NaN                   NaN
...                      ...              ...                   ...
3152                     NaN              NaN                   NaN
3153                     NaN              NaN                   NaN
3154                     NaN              NaN                   NaN
172334                   NaN              NaN                   NaN
172353                   NaN              NaN                   NaN

       'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
362                       NaN                  NaN                       NaN
363                       NaN                  NaN                       NaN
364                       NaN                  NaN                       NaN
365                       NaN                  NaN                       NaN
366                       NaN                  NaN                       NaN
...                       ...                  ...                       ...
3152                      NaN                  NaN                       NaN
3153                      NaN                  NaN                       NaN
3154                      NaN                  NaN                       NaN
172334                    NaN                  NaN                       NaN
172353                    NaN                  NaN                       NaN

       'Titre on Hep2 cells'  'HDL Cholesterol' 'Globulin in Serum'  \
362                      NaN                NaN                 NaN
363                      NaN                NaN                 NaN
364                      NaN                NaN                 NaN
365                      NaN                NaN                 NaN
366                      NaN                NaN                 NaN
...                      ...                ...                 ...
3152                     NaN                NaN                 NaN
3153                     NaN                NaN                 NaN
3154                     NaN                NaN                 NaN
172334                   NaN                NaN                 NaN
172353                   NaN                NaN                 NaN

       'Cystatin C'
362             NaN
363             NaN
364             NaN
365             NaN
366             NaN
...             ...
3152            NaN
3153            NaN
3154            NaN
172334          NaN
172353          NaN

[85 rows x 101 columns]

In [ ]:
# دمج النتائج التي هي NULL في نفس العمود في صف واحد
df_merged = df.groupby(['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE','AGE_MONTHS'], as_index=False).agg(lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None)
df_merged.head(50)

,RESEARCH_ID,SAMPLE_ID,REGN_DATE,AGE_MONTHS,COLLECTYEAR,GENDER_NAME,AGE_YEARS,AGE_DAYS,CITY_NAME,HEIGHT,...,'Leucocyte esterase','Concentration','Creatinine in Serum','Sodium (Na) in Serum','Bilirubin (Direct)','Magnesium (Mg) in Serum','Titre on Hep2 cells','HDL Cholesterol','Globulin in Serum','Cystatin C'
0,R015-23-1,21157313R015-23-1,2015-02-08,670.0,2015.0,MALE,55.0,20089.0,Hail,0,...,None,None,0.68,None,None,None,None,None,NaN,None
1,R015-23-10,17154493R015-23-10,2015-01-18,426.0,2015.0,MALE,35.0,12785.0,Abha,0,...,None,None,None,None,None,None,None,None,NaN,None
2,R015-23-100,251515977R015-23-100,2015-02-23,524.0,2015.0,FEMALE,43.0,15706.0,Makkah,0,...,None,None,0.60,None,None,None,None,None,NaN,None
3,R015-23-100,251549513R015-23-100,2015-12-30,534.0,2015.0,FEMALE,44.0,16016.0,Makkah,0,...,None,None,0.50,None,None,None,None,None,NaN,None
4,R015-23-1000,171615838R015-23-1000,2016-03-01,451.0,2016.0,FEMALE,37.0,13515.0,Abha,156,...,None,None,0.50,141.0,0.11,None,None,49,3.1,None
5,R015-23-10000,58198310R015-23-10000,2019-12-01,353.0,2019.0,FEMALE,29.0,10593.0,Madinah,0,...,None,None,None,None,None,None,None,None,NaN,None
6,R015-23-100000,4219602732R015-23-100000,2019-04-13,807.0,2019.0,MALE,66.0,24203.0,Jeddah,0,...,None,None,None,None,None,None,None,None,NaN,None
7,R015-23-100000,4219602972R015-23-100000,2019-04-14,807.0,2019.0,MALE,66.0,24203.0,Jeddah,0,...,None,None,0.92,None,None,None,None,None,NaN,None
8,R015-23-100000,4219603528R015-23-100000,2019-04-15,807.0,2019.0,MALE,66.0,24204.0,Jeddah,0,...,None,None,None,None,None,None,None,None,NaN,None
9,R015-23-100001,531912608R015-23-100001,2019-09-12,589.0,2019.0,FEMALE,48.0,17685.0,Riyadh,162,...,None,None,0.80,142.0,None,None,None,None,NaN,None
10,R015-23-100001,53199660R015-23-100001,2019-04-13,584.0,2019.0,FEMALE,48.0,17533.0,Riyadh,161,...,None,None,0.80,143.0,0.11,None,None,64,2.5,None
11,R015-23-100002,221623116R015-23-100002,2016-08-31,670.0,2016.0,FEMALE,55.0,20090.0,Tabouk,0,...,None,None,None,None,None,None,None,None,NaN,None
12,R015-23-100002,221949848R015-23-100002,2019-04-15,702.0,2019.0,FEMALE,58.0,21046.0,Tabouk,160,...,None,None,0.64,140.0,0.28,None,None,49.0,2.5,None
13,R015-23-100003,311926569R015-23-100003,2019-06-20,974.0,2019.0,FEMALE,80.0,29221.0,Makkah,148,...,None,None,1.08,139.2,0.34,None,None,65,2.9,None
14,R015-23-100004,4319347613R015-23-100004,2019-06-02,378.0,2019.0,FEMALE,31.0,11338.0,Riyadh,159,...,None,None,0.68,None,None,None,None,None,NaN,None
15,R015-23-100004,81551884R015-23-100004,2015-05-18,329.0,2015.0,FEMALE,27.0,9861.0,Riyadh,0,...,None,None,0.65,None,None,None,None,None,NaN,None
16,R015-23-100005,21511544R015-23-100005,2015-02-03,450.0,2015.0,FEMALE,37.0,13515.0,Jeddah,0,...,None,None,None,None,None,None,None,None,NaN,None
17,R015-23-100005,21521780R015-23-100005,2015-06-18,455.0,2015.0,FEMALE,37.0,13650.0,Jeddah,0,...,None,None,None,None,None,None,None,None,NaN,None
18,R015-23-100005,21525249R015-23-100005,2015-08-13,457.0,2015.0,FEMALE,38.0,13706.0,Jeddah,0,...,None,None,None,None,None,None,None,None,NaN,None
19,R015-23-100005,61977594R015-23-100005,2019-02-12,499.0,2019.0,FEMALE,41.0,14985.0,Jeddah,164,...,None,None,0.63,139.0,0.15,None,None,None,2.8,None
20,R015-23-100005,61993799R015-23-100005,2019-12-16,510.0,2019.0,FEMALE,42.0,15292.0,Jeddah,0,...,None,None,0.81,None,None,None,None,None,NaN,None
21,R015-23-100007,4317101697R015-23-100007,2017-01-23,487.0,2017.0,FEMALE,40.0,14611.0,Riyadh,0,...,None,None,None,None,None,None,None,None,NaN,None
22,R015-23-100007,4317155506R015-23-100007,2017-08-05,493.0,2017.0,FEMALE,41.0,14805.0,Riyadh,0,...,None,None,0.79,None,None,None,None,None,NaN,None
23,R015-23-100007,4318238551R015-23-100007,2018-05-29,503.0,2018.0,FEMALE,41.0,15101.0,Riyadh,168,...,None,None,0.77,None,None,None,None,None,NaN,None
24,R015-23-100008,4419252150R015-23-100008,2019-02-14,268.0,2019.0,FEMALE,22.0,8035.0,Dammam,158,...,None,None,0.65,None,None,None,None,None,NaN,None
25,R015-23-100008,4420344480R015-23-100008,2020-06-16,284.0,2020.0,FEMALE,23.0,8524.0,Dammam,0,...,None,None,None,None,None,None,None,None,NaN,None
26,R015-23-100009,321924803R015-23-100009,2019-02-10,718.0,2019.0,MALE,59.0,21550.0,Riyadh,0,...,None,None,6.59,None,None,None,None,None,NaN,None
27,R015-23-100010,31853433R015-23-100010,2018-04-28,438.0,2018.0,MALE,36.0,13149.0,Jeddah,0,...,None,None,None,None,None,None,None,None,NaN,None
28,R015-23-100010,31966450R015-23-100010,2019-02-21,448.0,2019.0,MALE,37.0,13448.0,Jeddah,189,...,None,None,0.98,142.0,0.20,None,None,44,2.3,None
29,R015-23-100011,4618103804R015-23-100011,2018-03-28,791.0,2018.0,FEMALE,65.0,23741.0,Makkah,0,...,None,None,0.47,139.2,None,None,None,None,NaN,None
30,R015-23-100011,4619193656R015-23-100011,2019-10-19,810.0,2019.0,FEMALE,67.0,24311.0,Makkah,162,...,None,None,0.50,144.1,0.22,None,None,52,2.6,None
31,R015-23-100011,4620221110R015-23-100011,2020-06-02,818.0,2020.0,FEMALE,67.0,24538.0,Makkah,160,...,None,None,0.52,145.0,0.23,None,None,58.0,2.8,None
32,R015-23-100012,71691518R015-23-100012,2016-03-21,694.0,2016.0,MALE,57.0,20820.0,Riyadh,161,...,None,None,1.24,138.0,0.24,None,None,31,2.7,None
33,R015-23-100012,718129584R015-23-100012,2018-08-11,723.0,2018.0,MALE,59.0,21693.0,Riyadh,162,...,None,None,1.26,138.0,0.23,None,None,33,2.8,None
34,R015-23-100012,719138415R015-23-100012,2019-04-08,731.0,2019.0,MALE,60.0,21933.0,Riyadh,165,...,None,None,1.29,136.0,0.24,None,None,33,2.6,None
35,R015-23-100012,719146942R015-23-100012,2019-12-22,740.0,2019.0,MALE,61.0,22191.0,Riyadh,164,...,None,None,1.35,139.9,0.19,None,None,35,3.2,None
36,R015-23-100013,4156840R015-23-100013,2015-05-03,402.0,2015.0,FEMALE,33.0,12053.0,Jeddah,0,...,None,None,0.65,None,None,None,None,None,NaN,None
37,R015-23-100013,41957039R015-23-100013,2019-12-24,458.0,2019.0,FEMALE,38.0,13749.0,Jeddah,150,...,None,None,0.50,None,None,None,None,None,NaN,None
38,R015-23-100014,211519043R015-23-100014,2015-09-22,463.0,2015.0,FEMALE,38.0,13879.0,Hail,0,...,None,None,0.42,None,None,None,None,None,NaN,None
39,R015-23-100014,211634302R015-23-100014,2016-07-28,473.0,2016.0,FEMALE,39.0,14190.0,Hail,0,...,None,None,None,None,None,None,None,None,NaN,None
40,R015-23-100014,211746249R015-23-100014,2017-01-30,479.0,2017.0,FEMALE,39.0,14375.0,Hail,0,...,None,None,None,None,None,None,None,None,NaN,None
41,R015-23-100014,211866392R015-23-100014,2018-05-07,495.0,2018.0,FEMALE,41.0,14837.0,Hail,163,...,None,None,0.51,None,0.20,None,None,49,NaN,None
42,R015-23-100014,211874705R015-23-100014,2018-12-24,502.0,2018.0,FEMALE,41.0,15068.0,Hail,127,...,None,None,0.65,141.0,0.20,None,None,47.0,3.1,None
43,R015-23-100014,211985242R015-23-100014,2019-12-22,514.0,2019.0,FEMALE,42.0,15431.0,Hail,165,...,None,None,0.62,None,None,None,None,None,NaN,None
44,R015-23-100015,4620206972R015-23-100015,2020-01-13,499.0,2020.0,MALE,41.0,14976.0,Makkah,169,...,None,None,0.94,140.7,0.21,None,None,43,2.6,None
45,R015-23-100020,4318278128R015-23-100020,2018-10-15,731.0,2018.0,FEMALE,60.0,21916.0,Riyadh,153,...,None,None,0.73,141.0,0.28,None,None,67,2.8,None
46,R015-23-100021,101622209R015-23-100021,2016-12-01,134.0,2016.0,MALE,11.0,4018.0,Riyadh,0,...,None,None,0.54,None,None,None,None,None,NaN,None
47,R015-23-100022,191720174R015-23-100022,2017-02-11,414.0,2017.0,FEMALE,34.0,12419.0,Albaha,144,...,None,None,0.80,141.0,0.13,None,None,50,3.5,None
48,R015-23-100022,191945233R015-23-100022,2019-07-14,443.0,2019.0,FEMALE,36.0,13302.0,Albaha,160,...,None,None,0.68,None,0.16,None,None,45,NaN,None
49,R015-23-100023,718123058R015-23-100023,2018-02-03,170.0,2018.0,FEMALE,14.0,5114.0,Riyadh,0,...,None,None,0.57,None,None,None,None,None,NaN,None

In [ ]:
# عرض عدد الصفوف والأعمدة بعد الدمج
print(f"عدد الصفوف بعد الدمج: {df_merged.shape[0]}")

NameError: name 'df_merged' is not defined

In [ ]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
file_path = "/content/drive/My Drive/merged_data.xlsx"
# حفظ الملف Excel
df_merged.to_excel(file_path, index=False, engine='openpyxl')
print(f"تم حفظ الملف في بنجاح! ✅\nالمسار: {file_path}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

NameError: name 'df_merged' is not defined

طريقة أخرى تسرع الدمج باستخدام مكتبة Dask

In [ ]:
import dask.dataframe as dd

# تحويل DataFrame العادي إلى Dask DataFrame
df_dask = dd.from_pandas(df, npartitions=10)

# تعريف دالة لإيجاد أول قيمة غير فارغة في العمود
def first_non_null(series):
    return series.dropna().iloc[0] if not series.dropna().empty else None

# تطبيق الدالة داخل apply()
df_merged_dask = df_dask.groupby(['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE', 'GENDER_NAME', 'AGE_MONTHS']).apply(lambda x: x.ffill().bfill().iloc[0], meta=df).compute()

**من هنا بدأنا التقسيم**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/My Drive/MyData/FE462.csv'
import pandas as pd
import numpy as np
file_path = '/content/drive/My Drive/FE462.csv'
df = pd.read_csv(file_path)
num_rows = len(df)
print(f"عدد الصفوف في الملف الأصلي: {num_rows}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-4-ee5627d2ca2d>:7: DtypeWarning: Columns (14,15,16,17,19,20,23,24,26,28,29,30,31,32,39,40,41,43,44,47,50,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,73,75,76,77,78,79,80,81,82,83,84,86,90,91,92,93,94,95,96,97,99,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

عدد الصفوف في الملف الأصلي: 900000

In [ ]:
# حساب عدد الصفوف في كل جزء
chunk_size = num_rows // 4

# تقسيم البيانات وحفظها
for i in range(4):
    start_idx = i * chunk_size
    end_idx = (i + 1) * chunk_size if i < 3 else num_rows  # آخر جزء يأخذ الباقي

    # استخراج الجزء
    df_chunk = df.iloc[start_idx:end_idx]

    # تحديد اسم الملف الجديد
    output_path = f"/content/drive/My Drive/ملف_جزء_{i+1}.csv"

    # حفظ الملف
    df_chunk.to_csv(output_path, index=False)

    print(f"تم حفظ {output_path} بنجاح، عدد الصفوف: {len(df_chunk)}")

تم حفظ /content/drive/My Drive/ملف_جزء_1.csv بنجاح، عدد الصفوف: 225000
تم حفظ /content/drive/My Drive/ملف_جزء_2.csv بنجاح، عدد الصفوف: 225000
تم حفظ /content/drive/My Drive/ملف_جزء_3.csv بنجاح، عدد الصفوف: 225000
تم حفظ /content/drive/My Drive/ملف_جزء_4.csv بنجاح، عدد الصفوف: 225000

In [ ]:
import pandas as pd

# مسارات الملفات المقسمة
file_paths = [
    "/content/drive/My Drive/FE462_part_1.csv",
    "/content/drive/My Drive/FE462_part_2.csv",
    "/content/drive/My Drive/FE462_part_3.csv",
    "/content/drive/My Drive/FE462_part_4.csv"
]

# تنظيف كل ملف على حدة
for i, file_path in enumerate(file_paths):
    print(f"--- معالجة الملف {file_path} ---")

    # تحميل البيانات
    df = pd.read_csv(file_path)

    # عرض عدد الصفوف والأعمدة قبل التنظيف
    print(f"قبل التنظيف: {df.shape[0]} صف، {df.shape[1]} عمود")

    # حذف العمود الأول (الرقم التسلسلي)
    df = df.iloc[:, 1:]  # حذف العمود الأول

    # حذف الصفوف المكررة
    df_cleaned = df.drop_duplicates()

    # عرض عدد الصفوف والأعمدة بعد التنظيف
    print(f"بعد التنظيف: {df_cleaned.shape[0]} صف، {df_cleaned.shape[1]} عمود")

    # حفظ الملف النظيف
    output_path = f"/content/drive/My Drive/FE462_part_{i+1}_cleaned.csv"
    df_cleaned.to_csv(output_path, index=False)

--- معالجة الملف /content/drive/My Drive/FE462_part_1.csv ---

<ipython-input-7-55ad4bcd546e>:16: DtypeWarning: Columns (14,16,17,19,20,24,26,28,29,30,31,32,39,40,41,43,44,50,53,54,55,56,57,58,59,61,62,63,64,66,67,68,70,73,75,76,77,78,80,81,82,84,90,91,92,93,95,96,97,99,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

قبل التنظيف: 225000 صف، 102 عمود
بعد التنظيف: 224915 صف، 101 عمود
--- معالجة الملف /content/drive/My Drive/FE462_part_2.csv ---

<ipython-input-7-55ad4bcd546e>:16: DtypeWarning: Columns (14,16,17,32,40,41,42,44,46,58,59,63,64,65,67,68,70,77,78,79,80,81,86,94,95,99) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

قبل التنظيف: 225000 صف، 102 عمود
بعد التنظيف: 225000 صف، 101 عمود
--- معالجة الملف /content/drive/My Drive/FE462_part_3.csv ---

<ipython-input-7-55ad4bcd546e>:16: DtypeWarning: Columns (14,16,17,32,40,41,43,44,58,59,60,63,64,65,66,67,68,70,77,78,79,80,81,82,83,94,95,97,99) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

قبل التنظيف: 225000 صف، 102 عمود
بعد التنظيف: 225000 صف، 101 عمود
--- معالجة الملف /content/drive/My Drive/FE462_part_4.csv ---

<ipython-input-7-55ad4bcd546e>:16: DtypeWarning: Columns (14,15,17,23,32,40,41,43,44,47,58,59,63,64,66,67,68,77,78,79,80,81,82,86,94,95,96,97,99) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

قبل التنظيف: 225000 صف، 102 عمود
بعد التنظيف: 225000 صف، 101 عمود

In [ ]:
import pandas as pd

# توصيل Google Drive
from google.colab import drive
drive.mount('/content/drive')

# قائمة بأسماء الملفات المقسمة
file_paths = [
    "/content/drive/My Drive/FE462_part_1_cleaned.csv",
    "/content/drive/My Drive/FE462_part_2_cleaned.csv",
    "/content/drive/My Drive/FE462_part_3_cleaned.csv",
    "/content/drive/My Drive/FE462_part_4_cleaned.csv"
]

# قراءة كل ملف وعرض أول 5 صفوف منه
for file_path in file_paths:
    try:
        df = pd.read_csv(file_path)  # تحميل الملف
        print(f"\n📂 *أول 5 صفوف من الملف:* {file_path}")
        print(df.head())  # عرض أول 5 صفوف
        print("-" * 50)
    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {file_path}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء قراءة {file_path}: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-11-51a2040a1210>:18: DtypeWarning: Columns (13,15,16,18,19,23,25,27,28,29,30,31,38,39,40,42,43,49,52,53,54,55,56,57,58,60,61,62,63,65,66,67,69,72,74,75,76,77,79,80,81,83,89,90,91,92,94,95,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)  # تحميل الملف

📂 *أول 5 صفوف من الملف:* /content/drive/My Drive/FE462_part_1_cleaned.csv
     RESEARCH_ID              SAMPLE_ID  COLLECTYEAR   REGN_DATE GENDER_NAME  \
0  R015-23-48315  19152054R015-23-48315       2015.0  2015-01-01      FEMALE
1  R015-23-48315  19152054R015-23-48315       2015.0  2015-01-01      FEMALE
2  R015-23-48315  19152054R015-23-48315       2015.0  2015-01-01      FEMALE
3  R015-23-48315  19152054R015-23-48315       2015.0  2015-01-01      FEMALE
4  R015-23-48315  19152054R015-23-48315       2015.0  2015-01-01      FEMALE

   AGE_YEARS  AGE_DAYS  AGE_MONTHS CITY_NAME  HEIGHT  ...  \
0       43.0   15706.0       524.0    Albaha       0  ...
1       43.0   15706.0       524.0    Albaha       0  ...
2       43.0   15708.0       524.0    Albaha       0  ...
3       43.0   15706.0       524.0    Albaha       0  ...
4       43.0   15706.0       524.0    Albaha       0  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                   NaN              NaN                   NaN
1                Absent              NaN                   NaN
2                   NaN              NaN                   NaN
3                   NaN              NaN                   NaN
4                   NaN              NaN                  0.70

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN
3                    NaN                  NaN                       NaN
4                    NaN                  NaN                       NaN

  'Titre on Hep2 cells'  'HDL Cholesterol' 'Globulin in Serum' 'Cystatin C'
0                   NaN                NaN                 NaN          NaN
1                   NaN                NaN                 NaN          NaN
2                   NaN                NaN                 NaN          NaN
3                   NaN                NaN                 NaN          NaN
4                   NaN                NaN                 NaN          NaN

[5 rows x 101 columns]
--------------------------------------------------

<ipython-input-11-51a2040a1210>:18: DtypeWarning: Columns (13,15,16,31,39,40,41,43,45,57,58,62,63,64,66,67,69,76,77,78,79,80,85,93,94,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)  # تحميل الملف

📂 *أول 5 صفوف من الملف:* /content/drive/My Drive/FE462_part_2_cleaned.csv
      RESEARCH_ID                SAMPLE_ID  COLLECTYEAR   REGN_DATE  \
0  R015-23-505642  431656352R015-23-505642       2016.0  2016-08-02
1  R015-23-189062  421694346R015-23-189062       2016.0  2016-08-02
2  R015-23-154178   71698775R015-23-154178          NaN  2016-08-02
3  R015-23-154178   71698775R015-23-154178       2016.0  2016-08-02
4  R015-23-658228   91625665R015-23-658228       2016.0  2016-08-02

  GENDER_NAME  AGE_YEARS  AGE_DAYS  AGE_MONTHS CITY_NAME  HEIGHT  ...  \
0      FEMALE       17.0    6211.0       207.0    Riyadh       0  ...
1      FEMALE       36.0   13150.0       438.0    Jeddah     158  ...
2      FEMALE        NaN       NaN         NaN    Riyadh     145  ...
3      FEMALE       27.0    9863.0       329.0    Riyadh     145  ...
4      FEMALE       29.0   10594.0       353.0    Riyadh     158  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                   NaN              NaN                  0.63
1                   NaN              NaN                  0.58
2                   NaN              NaN                   NaN
3                   NaN              NaN                  0.67
4                   NaN              NaN                  0.53

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                    NaN                  NaN                       NaN
1                  141.0                 0.11                       NaN
2                    NaN                  NaN                       NaN
3                    139                 0.20                       NaN
4                  137.0                 0.50                       NaN

  'Titre on Hep2 cells'  'HDL Cholesterol'  'Globulin in Serum'  'Cystatin C'
0                   NaN                NaN                  NaN           NaN
1                   NaN                 61                  2.5           NaN
2                   NaN                NaN                  NaN           NaN
3                   NaN                 34                  3.5           NaN
4                   NaN                 67                  2.4           NaN

[5 rows x 101 columns]
--------------------------------------------------

<ipython-input-11-51a2040a1210>:18: DtypeWarning: Columns (13,15,16,31,39,40,42,43,57,58,59,62,63,64,65,66,67,69,76,77,78,79,80,81,82,93,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)  # تحميل الملف

📂 *أول 5 صفوف من الملف:* /content/drive/My Drive/FE462_part_3_cleaned.csv
      RESEARCH_ID                SAMPLE_ID  COLLECTYEAR   REGN_DATE  \
0  R015-23-314470  121729489R015-23-314470       2017.0  2017-10-07
1   R015-23-50962   121729488R015-23-50962       2017.0  2017-10-07
2  R015-23-121103  717118859R015-23-121103       2017.0  2017-10-07
3  R015-23-679596   31744885R015-23-679596       2017.0  2017-10-07
4   R015-23-63969    31744884R015-23-63969       2017.0  2017-10-07

  GENDER_NAME  AGE_YEARS  AGE_DAYS  AGE_MONTHS CITY_NAME  HEIGHT  ...  \
0        MALE       12.0    4256.0       142.0    Khobar     167  ...
1      FEMALE       12.0    4562.0       152.0    Khobar     159  ...
2        MALE       35.0   12784.0       426.0    Riyadh     169  ...
3      FEMALE       17.0    6209.0       207.0    Jeddah     151  ...
4        MALE        9.0    3287.0       110.0    Jeddah     123  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                   NaN              NaN                  0.54
1                   NaN              NaN                  0.43
2                   NaN              NaN                  0.84
3                   NaN              NaN                  0.52
4                   NaN              NaN                  0.38

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                  141.0                 0.26                       NaN
3                    NaN                  NaN                       NaN
4                    NaN                  NaN                       NaN

  'Titre on Hep2 cells'  'HDL Cholesterol'  'Globulin in Serum'  'Cystatin C'
0                   NaN                NaN                  NaN           NaN
1                   NaN                NaN                  NaN           NaN
2                   NaN               50.0                  2.9           NaN
3                   NaN                NaN                  NaN           NaN
4                   NaN                NaN                  NaN           NaN

[5 rows x 101 columns]
--------------------------------------------------

<ipython-input-11-51a2040a1210>:18: DtypeWarning: Columns (13,14,16,22,31,39,40,42,43,46,57,58,62,63,65,66,67,76,77,78,79,80,81,85,93,94,95,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)  # تحميل الملف

📂 *أول 5 صفوف من الملف:* /content/drive/My Drive/FE462_part_4_cleaned.csv
      RESEARCH_ID                 SAMPLE_ID  COLLECTYEAR   REGN_DATE  \
0  R015-23-416443  4619157525R015-23-416443       2019.0  2019-02-12
1  R015-23-363350  4319315491R015-23-363350       2019.0  2019-02-12
2   R015-23-77997   4219569909R015-23-77997       2019.0  2019-02-12
3  R015-23-614953    52199448R015-23-614953       2019.0  2019-02-12
4  R015-23-274540   171944010R015-23-274540       2019.0  2019-02-12

  GENDER_NAME  AGE_YEARS  AGE_DAYS  AGE_MONTHS CITY_NAME  HEIGHT  ...  \
0        MALE       27.0    9862.0       329.0    Makkah     164  ...
1        MALE       47.0   17143.0       571.0    Riyadh     186  ...
2        MALE       77.0   28016.0       934.0    Jeddah       0  ...
3        MALE       39.0   14281.0       476.0    Riyadh     169  ...
4      FEMALE       35.0   12788.0       426.0      Abha     150  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                   NaN              NaN                  0.83
1                   NaN              NaN                  0.83
2                   NaN              NaN                   NaN
3                   NaN              NaN                  0.95
4                   NaN              NaN                  0.71

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                    NaN                  NaN                       NaN
1                    NaN                 0.17                       NaN
2                    NaN                  NaN                       NaN
3                    NaN                 0.28                       NaN
4                    NaN                 0.24                       NaN

  'Titre on Hep2 cells'  'HDL Cholesterol'  'Globulin in Serum'  'Cystatin C'
0                   NaN                NaN                  NaN           NaN
1                   NaN               44.0                  NaN           NaN
2                   NaN                NaN                  NaN           NaN
3                   NaN               47.0                  NaN           NaN
4                   NaN               61.0                  NaN           NaN

[5 rows x 101 columns]
--------------------------------------------------

In [ ]:
import pandas as pd
from google.colab import drive

# توصيل Google Drive
drive.mount('/content/drive')

# قائمة بأسماء الملفات الأصلية ومساراتها في Google Drive
file_paths = [
    "/content/drive/My Drive/FE462_part_1_cleaned.csv",
    "/content/drive/My Drive/FE462_part_2_cleaned.csv",
    "/content/drive/My Drive/FE462_part_3_cleaned.csv",
    "/content/drive/My Drive/FE462_part_4_cleaned.csv"
]

# قائمة لمسارات حفظ الملفات بعد الدمج
merged_file_paths = [
    "/content/drive/My Drive/FE462_part_1_merged.csv",
    "/content/drive/My Drive/FE462_part_2_merged.csv",
    "/content/drive/My Drive/FE462_part_3_merged.csv",
    "/content/drive/My Drive/FE462_part_4_merged.csv"
]

# تطبيق العملية على كل ملف
for file_path, merged_path in zip(file_paths, merged_file_paths):
    try:
        print(f"\n🔄 معالجة الملف: {file_path}")

        # تحميل البيانات
        df = pd.read_csv(file_path)

        # تنفيذ عملية الدمج للصفوف التي تحتوي على NULL بنفس العمود
        df_merged = df.groupby(['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE', 'AGE_MONTHS'], as_index=False).agg(
            lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None
        )

        # عرض أول 50 صف من البيانات المدمجة
        print(f"\n📌 *أول 50 صف من الملف المدمج:* {merged_path}")
        print(df_merged.head(10))

        # حفظ البيانات المدمجة في Google Drive بصيغة CSV
        df_merged.to_csv(merged_path, index=False)
        print(f"✅ تم حفظ الملف المدمج في: {merged_path}")

    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {file_path}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء معالجة {file_path}: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

🔄 معالجة الملف: /content/drive/My Drive/FE462_part_1_cleaned.csv

<ipython-input-12-f93a4c07db8f>:29: DtypeWarning: Columns (13,15,16,18,19,23,25,27,28,29,30,31,38,39,40,42,43,49,52,53,54,55,56,57,58,60,61,62,63,65,66,67,69,72,74,75,76,77,79,80,81,83,89,90,91,92,94,95,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

📌 *أول 50 صف من الملف المدمج:* /content/drive/My Drive/FE462_part_1_merged.csv
      RESEARCH_ID               SAMPLE_ID   REGN_DATE  AGE_MONTHS  \
0       R015-23-1       21157313R015-23-1  2015-02-08       670.0
1      R015-23-10      17154493R015-23-10  2015-01-18       426.0
2     R015-23-100    251515977R015-23-100  2015-02-23       524.0
3     R015-23-100    251549513R015-23-100  2015-12-30       534.0
4    R015-23-1000   171615838R015-23-1000  2016-03-01       451.0
5  R015-23-100004  81551884R015-23-100004  2015-05-18       329.0
6  R015-23-100005  21511544R015-23-100005  2015-02-03       450.0
7  R015-23-100005  21521780R015-23-100005  2015-06-18       455.0
8  R015-23-100005  21525249R015-23-100005  2015-08-13       457.0
9  R015-23-100012  71691518R015-23-100012  2016-03-21       694.0

   COLLECTYEAR GENDER_NAME  AGE_YEARS  AGE_DAYS CITY_NAME  HEIGHT  ...  \
0       2015.0        MALE       55.0   20089.0      Hail       0  ...
1       2015.0        MALE       35.0   12785.0      Abha       0  ...
2       2015.0      FEMALE       43.0   15706.0    Makkah       0  ...
3       2015.0      FEMALE       44.0   16016.0    Makkah       0  ...
4       2016.0      FEMALE       37.0   13515.0      Abha     156  ...
5       2015.0      FEMALE       27.0    9861.0    Riyadh       0  ...
6       2015.0      FEMALE       37.0   13515.0    Jeddah       0  ...
7       2015.0      FEMALE       37.0   13650.0    Jeddah       0  ...
8       2015.0      FEMALE       38.0   13706.0    Jeddah       0  ...
9       2016.0        MALE       57.0   20820.0    Riyadh     161  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                  None             None                  0.68
1                  None             None                  None
2                  None             None                  0.60
3                  None             None                  0.50
4                  None             None                  0.50
5                  None             None                  0.65
6                  None             None                  None
7                  None             None                  None
8                  None             None                  None
9                  None             None                  1.24

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                   None                 None                      None
1                   None                 None                      None
2                   None                 None                      None
3                   None                 None                      None
4                  141.0                 0.11                      None
5                   None                 None                      None
6                   None                 None                      None
7                   None                 None                      None
8                   None                 None                      None
9                  138.0                 0.24                      None

  'Titre on Hep2 cells'  'HDL Cholesterol' 'Globulin in Serum' 'Cystatin C'
0                  None               None                 NaN         None
1                  None               None                 NaN         None
2                  None               None                 NaN         None
3                  None               None                 NaN         None
4                  None                 49                 3.1         None
5                  None               None                 NaN         None
6                  None               None                 NaN         None
7                  None               None                 NaN         None
8                  None               None                 NaN         None
9                  None                 31                 2.7         None

[10 rows x 101 columns]
✅ تم حفظ الملف المدمج في: /content/drive/My Drive/FE462_part_1_merged.csv

🔄 معالجة الملف: /content/drive/My Drive/FE462_part_2_cleaned.csv

<ipython-input-12-f93a4c07db8f>:29: DtypeWarning: Columns (13,15,16,31,39,40,41,43,45,57,58,62,63,64,66,67,69,76,77,78,79,80,85,93,94,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

📌 *أول 50 صف من الملف المدمج:* /content/drive/My Drive/FE462_part_2_merged.csv
      RESEARCH_ID                 SAMPLE_ID   REGN_DATE  AGE_MONTHS  \
0  R015-23-100002   221623116R015-23-100002  2016-08-31       670.0
1  R015-23-100007  4317101697R015-23-100007  2017-01-23       487.0
2  R015-23-100007  4317155506R015-23-100007  2017-08-05       493.0
3  R015-23-100014   211634302R015-23-100014  2016-07-28       473.0
4  R015-23-100014   211746249R015-23-100014  2017-01-30       479.0
5  R015-23-100021   101622209R015-23-100021  2016-12-01       134.0
6  R015-23-100022   191720174R015-23-100022  2017-02-11       414.0
7  R015-23-100024    31734821R015-23-100024  2017-01-29       694.0
8  R015-23-100024    31744451R015-23-100024  2017-09-26       702.0
9  R015-23-100029    21651509R015-23-100029  2016-08-10       390.0

   COLLECTYEAR GENDER_NAME  AGE_YEARS  AGE_DAYS CITY_NAME  HEIGHT  ...  \
0       2016.0      FEMALE       55.0   20090.0    Tabouk       0  ...
1       2017.0      FEMALE       40.0   14611.0    Riyadh       0  ...
2       2017.0      FEMALE       41.0   14805.0    Riyadh       0  ...
3       2016.0      FEMALE       39.0   14190.0      Hail       0  ...
4       2017.0      FEMALE       39.0   14375.0      Hail       0  ...
5       2016.0        MALE       11.0    4018.0    Riyadh       0  ...
6       2017.0      FEMALE       34.0   12419.0    Albaha     144  ...
7       2017.0      FEMALE       57.0   20820.0    Jeddah     160  ...
8       2017.0      FEMALE       58.0   21060.0    Jeddah     160  ...
9       2016.0        MALE       32.0   11688.0    Jeddah       0  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                  None             None                  None
1                  None             None                  None
2                  None             None                  0.79
3                  None             None                  None
4                  None             None                  None
5                  None             None                  0.54
6                  None             None                  0.80
7                  None             None                  0.64
8                  None             None                  0.71
9                  None             None                  0.65

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                   None                 None                       NaN
1                   None                 None                       NaN
2                   None                 None                       NaN
3                   None                 None                       NaN
4                   None                 None                       NaN
5                   None                 None                       NaN
6                  141.0                 0.13                       NaN
7                   None                 None                       NaN
8                   None                 None                       NaN
9                   None                 None                       NaN

  'Titre on Hep2 cells' 'HDL Cholesterol' 'Globulin in Serum' 'Cystatin C'
0                  None              None                 NaN          NaN
1                  None              None                 NaN          NaN
2                  None              None                 NaN          NaN
3                  None              None                 NaN          NaN
4                  None              None                 NaN          NaN
5                  None              None                 NaN          NaN
6                  None                50                 3.5          NaN
7                  None              None                 NaN          NaN
8                  None              None                 NaN          NaN
9                  None              None                 NaN          NaN

[10 rows x 101 columns]
✅ تم حفظ الملف المدمج في: /content/drive/My Drive/FE462_part_2_merged.csv

🔄 معالجة الملف: /content/drive/My Drive/FE462_part_3_cleaned.csv

<ipython-input-12-f93a4c07db8f>:29: DtypeWarning: Columns (13,15,16,31,39,40,42,43,57,58,59,62,63,64,65,66,67,69,76,77,78,79,80,81,82,93,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

📌 *أول 50 صف من الملف المدمج:* /content/drive/My Drive/FE462_part_3_merged.csv
      RESEARCH_ID                 SAMPLE_ID   REGN_DATE  AGE_MONTHS  \
0  R015-23-100007  4318238551R015-23-100007  2018-05-29       503.0
1  R015-23-100009   321924803R015-23-100009  2019-02-10       718.0
2  R015-23-100010    31853433R015-23-100010  2018-04-28       438.0
3  R015-23-100010    31966450R015-23-100010  2019-02-21       448.0
4  R015-23-100011  4618103804R015-23-100011  2018-03-28       791.0
5  R015-23-100012   718129584R015-23-100012  2018-08-11       723.0
6  R015-23-100014   211866392R015-23-100014  2018-05-07       495.0
7  R015-23-100014   211874705R015-23-100014  2018-12-24       502.0
8  R015-23-100020  4318278128R015-23-100020  2018-10-15       731.0
9  R015-23-100023   718123058R015-23-100023  2018-02-03       170.0

   COLLECTYEAR GENDER_NAME  AGE_YEARS  AGE_DAYS CITY_NAME  HEIGHT  ...  \
0       2018.0      FEMALE       41.0   15101.0    Riyadh     168  ...
1       2019.0        MALE       59.0   21550.0    Riyadh       0  ...
2       2018.0        MALE       36.0   13149.0    Jeddah       0  ...
3       2019.0        MALE       37.0   13448.0    Jeddah     189  ...
4       2018.0      FEMALE       65.0   23741.0    Makkah       0  ...
5       2018.0        MALE       59.0   21693.0    Riyadh     162  ...
6       2018.0      FEMALE       41.0   14837.0      Hail     163  ...
7       2018.0      FEMALE       41.0   15068.0      Hail     127  ...
8       2018.0      FEMALE       60.0   21916.0    Riyadh     153  ...
9       2018.0      FEMALE       14.0    5114.0    Riyadh       0  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                  None             None                  0.77
1                  None             None                  6.59
2                  None             None                  None
3                  None             None                  0.98
4                  None             None                  0.47
5                  None             None                  1.26
6                  None             None                  0.51
7                  None             None                  0.65
8                  None             None                  0.73
9                  None             None                  0.57

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                   None                 None                      None
1                   None                 None                      None
2                   None                 None                      None
3                  142.0                 0.20                      None
4                  139.2                 None                      None
5                  138.0                 0.23                      None
6                   None                 0.20                      None
7                  141.0                 0.20                      None
8                  141.0                 0.28                      None
9                   None                 None                      None

  'Titre on Hep2 cells' 'HDL Cholesterol' 'Globulin in Serum' 'Cystatin C'
0                  None              None                 NaN         None
1                  None              None                 NaN         None
2                  None              None                 NaN         None
3                  None                44                 2.3         None
4                  None              None                 NaN         None
5                  None                33                 2.8         None
6                  None                49                 NaN         None
7                  None              47.0                 3.1         None
8                  None                67                 2.8         None
9                  None              None                 NaN         None

[10 rows x 101 columns]
✅ تم حفظ الملف المدمج في: /content/drive/My Drive/FE462_part_3_merged.csv

🔄 معالجة الملف: /content/drive/My Drive/FE462_part_4_cleaned.csv

<ipython-input-12-f93a4c07db8f>:29: DtypeWarning: Columns (13,14,16,22,31,39,40,42,43,46,57,58,62,63,65,66,67,76,77,78,79,80,81,85,93,94,95,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

KeyboardInterrupt:

In [ ]:
import pandas as pd
from google.colab import drive

# توصيل Google Drive
drive.mount('/content/drive')

# قائمة بأسماء الملفات الأصلية ومساراتها في Google Drive
file_paths = [
    "/content/drive/My Drive/FE462_part_4_cleaned.csv"
]

# قائمة لمسارات حفظ الملفات بعد الدمج
merged_file_paths = [
    "/content/drive/My Drive/FE462_part_4_merged.csv"
]

# تطبيق العملية على كل ملف
for file_path, merged_path in zip(file_paths, merged_file_paths):
    try:
        print(f"\n🔄 معالجة الملف: {file_path}")

        # تحميل البيانات
        df = pd.read_csv(file_path)

        # تنفيذ عملية الدمج للصفوف التي تحتوي على NULL بنفس العمود
        df_merged = df.groupby(['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE', 'AGE_MONTHS'], as_index=False).agg(
            lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None
        )

        # عرض أول 50 صف من البيانات المدمجة
        print(f"\n📌 *أول 50 صف من الملف المدمج:* {merged_path}")
        print(df_merged.head(10))

        # حفظ البيانات المدمجة في Google Drive بصيغة CSV
        df_merged.to_csv(merged_path, index=False)
        print(f"✅ تم حفظ الملف المدمج في: {merged_path}")

    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {file_path}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء معالجة {file_path}: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

🔄 معالجة الملف: /content/drive/My Drive/FE462_part_4_cleaned.csv

<ipython-input-14-67ec86a0d57d>:23: DtypeWarning: Columns (13,14,16,22,31,39,40,42,43,46,57,58,62,63,65,66,67,76,77,78,79,80,81,85,93,94,95,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

📌 *أول 50 صف من الملف المدمج:* /content/drive/My Drive/FE462_part_4_merged.csv
      RESEARCH_ID                 SAMPLE_ID   REGN_DATE  AGE_MONTHS  \
0   R015-23-10000     58198310R015-23-10000  2019-12-01       353.0
1  R015-23-100000  4219602732R015-23-100000  2019-04-13       807.0
2  R015-23-100000  4219602972R015-23-100000  2019-04-14       807.0
3  R015-23-100000  4219603528R015-23-100000  2019-04-15       807.0
4  R015-23-100001   531912608R015-23-100001  2019-09-12       589.0
5  R015-23-100001    53199660R015-23-100001  2019-04-13       584.0
6  R015-23-100002   221949848R015-23-100002  2019-04-15       702.0
7  R015-23-100003   311926569R015-23-100003  2019-06-20       974.0
8  R015-23-100004  4319347613R015-23-100004  2019-06-02       378.0
9  R015-23-100005    61977594R015-23-100005  2019-02-12       499.0

   COLLECTYEAR GENDER_NAME  AGE_YEARS  AGE_DAYS CITY_NAME  HEIGHT  ...  \
0       2019.0      FEMALE       29.0   10593.0   Madinah       0  ...
1       2019.0        MALE       66.0   24203.0    Jeddah       0  ...
2       2019.0        MALE       66.0   24203.0    Jeddah       0  ...
3       2019.0        MALE       66.0   24204.0    Jeddah       0  ...
4       2019.0      FEMALE       48.0   17685.0    Riyadh     162  ...
5       2019.0      FEMALE       48.0   17533.0    Riyadh     161  ...
6       2019.0      FEMALE       58.0   21046.0    Tabouk     160  ...
7       2019.0      FEMALE       80.0   29221.0    Makkah     148  ...
8       2019.0      FEMALE       31.0   11338.0    Riyadh     159  ...
9       2019.0      FEMALE       41.0   14985.0    Jeddah     164  ...

   'Leucocyte esterase'  'Concentration' 'Creatinine in Serum'  \
0                  None             None                  None
1                  None             None                  None
2                  None             None                  0.92
3                  None             None                  None
4                  None             None                  0.80
5                  None             None                  0.80
6                  None             None                  0.64
7                  None             None                  1.08
8                  None             None                  0.68
9                  None             None                  0.63

  'Sodium (Na) in Serum' 'Bilirubin (Direct)' 'Magnesium (Mg) in Serum'  \
0                   None                 None                      None
1                   None                 None                      None
2                   None                 None                      None
3                   None                 None                      None
4                  142.0                 None                      None
5                  143.0                 0.11                      None
6                  140.0                 0.28                      None
7                  139.2                 0.34                      None
8                   None                 None                      None
9                  139.0                 0.15                      None

  'Titre on Hep2 cells' 'HDL Cholesterol' 'Globulin in Serum' 'Cystatin C'
0                  None              None                 NaN         None
1                  None              None                 NaN         None
2                  None              None                 NaN         None
3                  None              None                 NaN         None
4                  None              None                 NaN         None
5                  None                64                 2.5         None
6                  None              49.0                 2.5         None
7                  None                65                 2.9         None
8                  None              None                 NaN         None
9                  None              None                 2.8         None

[10 rows x 101 columns]
✅ تم حفظ الملف المدمج في: /content/drive/My Drive/FE462_part_4_merged.csv

In [ ]:
import pandas as pd
from google.colab import drive

# توصيل Google Drive
drive.mount('/content/drive')

# قائمة بأسماء الملفات المدمجة بصيغة CSV
csv_files = [
    "/content/drive/My Drive/FE462_part_4_merged.csv"
]

# قائمة بأسماء الملفات بعد تحويلها إلى Excel
excel_files = [
    "/content/drive/My Drive/FE462_part_4_merged.xlsx"
]

# تحويل كل ملف CSV إلى Excel
for csv_file, excel_file in zip(csv_files, excel_files):
    try:
        print(f"\n🔄 تحويل الملف: {csv_file} إلى Excel")

        # تحميل البيانات
        df = pd.read_csv(csv_file)

        # حفظ الملف بصيغة Excel
        df.to_excel(excel_file, index=False, engine='openpyxl')

        print(f"✅ تم حفظ الملف بصيغة Excel في: {excel_file}")

    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {csv_file}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء تحويل {csv_file} إلى Excel: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

🔄 تحويل الملف: /content/drive/My Drive/FE462_part_4_merged.csv إلى Excel

<ipython-input-15-bcb011f46adc>:23: DtypeWarning: Columns (13,16,22,31,39,40,43,46,57,58,62,63,64,65,66,67,69,76,77,78,79,80,81,83,85,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

✅ تم حفظ الملف بصيغة Excel في: /content/drive/My Drive/FE462_part_4_merged.xlsx

In [ ]:
import pandas as pd
from google.colab import drive

# توصيل Google Drive
drive.mount('/content/drive')

# قائمة بأسماء الملفات المدمجة بصيغة CSV
csv_files = [
    "/content/drive/My Drive/FE462_part_1_merged.csv",
    "/content/drive/My Drive/FE462_part_2_merged.csv",
    "/content/drive/My Drive/FE462_part_3_merged.csv"
]

# قائمة بأسماء الملفات بعد تحويلها إلى Excel
excel_files = [
    "/content/drive/My Drive/FE462_part_1_merged.xlsx",
    "/content/drive/My Drive/FE462_part_2_merged.xlsx",
    "/content/drive/My Drive/FE462_part_3_merged.xlsx"
]

# تحويل كل ملف CSV إلى Excel
for csv_file, excel_file in zip(csv_files, excel_files):
    try:
        print(f"\n🔄 تحويل الملف: {csv_file} إلى Excel")

        # تحميل البيانات
        df = pd.read_csv(csv_file)

        # حفظ الملف بصيغة Excel
        df.to_excel(excel_file, index=False, engine='openpyxl')

        print(f"✅ تم حفظ الملف بصيغة Excel في: {excel_file}")

    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {csv_file}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء تحويل {csv_file} إلى Excel: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

🔄 تحويل الملف: /content/drive/My Drive/FE462_part_1_merged.csv إلى Excel

<ipython-input-13-68b446c36aed>:27: DtypeWarning: Columns (16,23,25,31,40,43,57,58,61,62,63,72,74,76,80,89,90,92,94,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

✅ تم حفظ الملف بصيغة Excel في: /content/drive/My Drive/FE462_part_1_merged.xlsx

🔄 تحويل الملف: /content/drive/My Drive/FE462_part_2_merged.csv إلى Excel

<ipython-input-13-68b446c36aed>:27: DtypeWarning: Columns (13,15,16,40,43,45,57,58,62,63,66,76,77,79,80,85,94,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

✅ تم حفظ الملف بصيغة Excel في: /content/drive/My Drive/FE462_part_2_merged.xlsx

🔄 تحويل الملف: /content/drive/My Drive/FE462_part_3_merged.csv إلى Excel

<ipython-input-13-68b446c36aed>:27: DtypeWarning: Columns (13,15,16,31,39,40,43,57,58,59,62,63,64,65,66,76,77,78,79,80,93,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

✅ تم حفظ الملف بصيغة Excel في: /content/drive/My Drive/FE462_part_3_merged.xlsx

In [ ]:
import pandas as pd
from google.colab import drive

# توصيل Google Drive
drive.mount('/content/drive')

# قائمة بأسماء الملفات المدمجة بصيغة CSV
merged_files = [
    "/content/drive/My Drive/FE462_part_1_merged.csv",
    "/content/drive/My Drive/FE462_part_2_merged.csv",
    "/content/drive/My Drive/FE462_part_3_merged.csv",
    "/content/drive/My Drive/FE462_part_4_merged.csv"
]

# فحص عدد الصفوف والأعمدة لكل ملف
for file in merged_files:
    try:
        # تحميل البيانات
        df = pd.read_csv(file)

        # عدد الصفوف والأعمدة
        num_rows, num_cols = df.shape

        # طباعة النتيجة
        print(f"\n📂 الملف: {file}")
        print(f"✅ عدد الصفوف: {num_rows}")
        print(f"✅ عدد الأعمدة: {num_cols}")

    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {file}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء قراءة {file}: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-16-d8f7b1d45c20>:19: DtypeWarning: Columns (16,23,25,31,40,43,57,58,61,62,63,72,74,76,80,89,90,92,94,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

📂 الملف: /content/drive/My Drive/FE462_part_1_merged.csv
✅ عدد الصفوف: 185759
✅ عدد الأعمدة: 101

<ipython-input-16-d8f7b1d45c20>:19: DtypeWarning: Columns (13,15,16,40,43,45,57,58,62,63,66,76,77,79,80,85,94,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

📂 الملف: /content/drive/My Drive/FE462_part_2_merged.csv
✅ عدد الصفوف: 179656
✅ عدد الأعمدة: 101

<ipython-input-16-d8f7b1d45c20>:19: DtypeWarning: Columns (13,15,16,31,39,40,43,57,58,59,62,63,64,65,66,76,77,78,79,80,93,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

📂 الملف: /content/drive/My Drive/FE462_part_3_merged.csv
✅ عدد الصفوف: 193133
✅ عدد الأعمدة: 101

<ipython-input-16-d8f7b1d45c20>:19: DtypeWarning: Columns (13,16,22,31,39,40,43,46,57,58,62,63,64,65,66,67,69,76,77,78,79,80,81,83,85,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

📂 الملف: /content/drive/My Drive/FE462_part_4_merged.csv
✅ عدد الصفوف: 191763
✅ عدد الأعمدة: 101

In [ ]:
import pandas as pd
from google.colab import drive

# ✅ توصيل Google Drive
drive.mount('/content/drive')

# ✅ تحديد مسارات الملفات
file1_path = "/content/drive/My Drive/FE462_part_1_merged.csv"
file2_path = "/content/drive/My Drive/FE462_part_2_merged.csv"
output_path = "/content/drive/My Drive/FE462_final_cleaned.csv"

# ✅ تحميل الملفين إلى DataFrame
df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)

# ✅ دمج الملفين معًا دون حذف أي صف
df_combined = pd.concat([df1, df2], ignore_index=True)

# ✅ تحديد الأعمدة المفتاحية لدمج القيم بناءً عليها
key_columns = ['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE', 'AGE_MONTHS']

# ✅ تطبيق التجميع والاحتفاظ بأول قيمة غير فارغة في كل عمود عند وجود تكرار
df_merged = df_combined.groupby(key_columns, as_index=False).agg(
    lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None
)

# ✅ حفظ الملف النهائي بعد التنظيف في Google Drive
df_merged.to_csv(output_path, index=False)

# ✅ طباعة عدد الصفوف والأعمدة بعد التنظيف
num_rows, num_cols = df_merged.shape
print(f"✅ الملف النهائي بعد التنظيف: {output_path}")
print(f"📊 عدد الصفوف: {num_rows}")
print(f"📊 عدد الأعمدة: {num_cols}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-18-8e5aee8da850>:13: DtypeWarning: Columns (16,23,25,31,40,43,57,58,61,62,63,72,74,76,80,89,90,92,94,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file1_path)
<ipython-input-18-8e5aee8da850>:14: DtypeWarning: Columns (13,15,16,40,43,45,57,58,62,63,66,76,77,79,80,85,94,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2_path)

✅ الملف النهائي بعد التنظيف: /content/drive/My Drive/FE462_final_cleaned.csv
📊 عدد الصفوف: 365410
📊 عدد الأعمدة: 101

In [ ]:
import pandas as pd
from google.colab import drive

# ✅ توصيل Google Drive
drive.mount('/content/drive')

# ✅ تحديد مسارات الملفات
file3_path = "/content/drive/My Drive/FE462_part_3_merged.csv"
file4_path = "/content/drive/My Drive/FE462_part_4_merged.csv"
output_path = "/content/drive/My Drive/FE462_final_cleaned2.csv"

# ✅ تحميل الملفين إلى DataFrame
df3 = pd.read_csv(file3_path)
df4 = pd.read_csv(file4_path)

# ✅ دمج الملفين معًا دون حذف أي صف
df_combined = pd.concat([df3, df4], ignore_index=True)

# ✅ تحديد الأعمدة المفتاحية لدمج القيم بناءً عليها
key_columns = ['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE', 'AGE_MONTHS']

# ✅ تطبيق التجميع والاحتفاظ بأول قيمة غير فارغة في كل عمود عند وجود تكرار
df_merged = df_combined.groupby(key_columns, as_index=False).agg(
    lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None
)

# ✅ حفظ الملف النهائي بعد التنظيف في Google Drive
df_merged.to_csv(output_path, index=False)

# ✅ طباعة عدد الصفوف والأعمدة بعد التنظيف
num_rows, num_cols = df_merged.shape
print(f"✅ الملف النهائي بعد التنظيف: {output_path}")
print(f"📊 عدد الصفوف: {num_rows}")
print(f"📊 عدد الأعمدة: {num_cols}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-19-43661849e371>:13: DtypeWarning: Columns (13,15,16,31,39,40,43,57,58,59,62,63,64,65,66,76,77,78,79,80,93,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file3_path)
<ipython-input-19-43661849e371>:14: DtypeWarning: Columns (13,16,22,31,39,40,43,46,57,58,62,63,64,65,66,67,69,76,77,78,79,80,81,83,85,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv(file4_path)

✅ الملف النهائي بعد التنظيف: /content/drive/My Drive/FE462_final_cleaned2.csv
📊 عدد الصفوف: 384896
📊 عدد الأعمدة: 101

In [ ]:
import pandas as pd
from google.colab import drive

# ✅ توصيل Google Drive
drive.mount('/content/drive')

# ✅ تحديد مسارات الملفات
out1_path = "/content/drive/My Drive/FE462_final_cleaned.csv"
out2_path = "/content/drive/My Drive/FE462_final_cleaned2.csv"
outputLast_path = "/content/drive/My Drive/FE462_final_file.csv"

# ✅ تحميل الملفين إلى DataFrame
dfO1 = pd.read_csv(out1_path)
dfO2 = pd.read_csv(out2_path)

# ✅ دمج الملفين معًا دون حذف أي صف
df_combined = pd.concat([dfO1, dfO2], ignore_index=True)

# ✅ تحديد الأعمدة المفتاحية لدمج القيم بناءً عليها
key_columns = ['RESEARCH_ID', 'SAMPLE_ID', 'REGN_DATE', 'AGE_MONTHS']

# ✅ تطبيق التجميع والاحتفاظ بأول قيمة غير فارغة في كل عمود عند وجود تكرار
df_merged = df_combined.groupby(key_columns, as_index=False).agg(
    lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None
)

# ✅ حفظ الملف النهائي بعد التنظيف في Google Drive
df_merged.to_csv(outputLast_path, index=False)

# ✅ طباعة عدد الصفوف والأعمدة بعد التنظيف
num_rows, num_cols = df_merged.shape
print(f"✅ الملف النهائي بعد التنظيف: {outputLast_path}")
print(f"📊 عدد الصفوف: {num_rows}")
print(f"📊 عدد الأعمدة: {num_cols}")

Mounted at /content/drive

<ipython-input-1-10e55a0be83f>:13: DtypeWarning: Columns (16,18,23,25,31,40,43,57,58,61,62,63,72,74,75,76,80,85,89,90,92,94,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  dfO1 = pd.read_csv(out1_path)
<ipython-input-1-10e55a0be83f>:14: DtypeWarning: Columns (13,16,31,39,40,42,43,46,57,58,59,62,63,64,65,66,76,77,78,79,80,85,93,94,96,98) have mixed types. Specify dtype option on import or set low_memory=False.
  dfO2 = pd.read_csv(out2_path)

✅ الملف النهائي بعد التنظيف: /content/drive/My Drive/FE462_final_file.csv
📊 عدد الصفوف: 750305
📊 عدد الأعمدة: 101

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
csv_file = [
    "/content/drive/My Drive/FE462_final_file.csv"
]

# بعد تحويلها إلى Excel
excel_file = [
    "/content/drive/My Drive/FE462_final_file.xlsx"
]

# تحويل كل ملف CSV إلى Excel
for csv_file, excel_file in zip(csv_file, excel_file):
    try:
        print(f"\n🔄 تحويل الملف: {csv_file} إلى Excel")

        # تحميل البيانات
        df = pd.read_csv(csv_file)

        # حفظ الملف بصيغة Excel
        df.to_excel(excel_file, index=False, engine='openpyxl')

        print(f"✅ تم حفظ الملف بصيغة Excel في: {excel_file}")

    except FileNotFoundError:
        print(f"❌ الملف غير موجود: {csv_file}")
    except Exception as e:
        print(f"⚠️ خطأ أثناء تحويل {csv_file} إلى Excel: {e}")

Mounted at /content/drive

🔄 تحويل الملف: /content/drive/My Drive/FE462_final_file.csv إلى Excel

<ipython-input-1-baa905061541>:22: DtypeWarning: Columns (13,16,18,19,23,25,27,28,29,30,31,38,39,40,43,46,49,52,53,54,55,56,57,58,59,60,61,62,63,66,72,74,75,76,79,80,85,89,90,91,92,94,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

✅ تم حفظ الملف بصيغة Excel في: /content/drive/My Drive/FE462_final_file.xlsx

In [ ]:
import pandas as pd
from google.colab import drive

# ✅ توصيل Google Drive
drive.mount('/content/drive')
# ✅ تحميل البيانات
df = pd.read_csv("/content/drive/My Drive/FE462_final_file.csv", parse_dates=['REGN_DATE'])

# ✅ ترتيب البيانات لضمان الدمج الصحيح
df = df.sort_values(by=['SAMPLE_ID', 'REGN_DATE'])

# ✅ دمج الصفوف بناءً على القواعد المحددة
merged_rows = []
skip_indexes = set()

for i in range(len(df)):
    if i in skip_indexes:  # تخطي الصفوف التي تم دمجها بالفعل
        continue

    row = df.iloc[i].copy()
    sample_id = row['SAMPLE_ID']
    regn_date = row['REGN_DATE']

    # البحث عن الصفوف المطابقة للأعمدة المحددة، للرنج بيوم أو يومين
    similar_rows = df[(df['SAMPLE_ID'] == sample_id) &
                      (df['REGN_DATE'].between(regn_date - pd.Timedelta(days=2), regn_date + pd.Timedelta(days=2)))]

    if len(similar_rows) > 1:
        for col in df.columns:
            if col not in ['SAMPLE_ID', 'REGN_DATE']:  # عدم تعديل الأعمدة الأساسية
                row[col] = similar_rows[col].dropna().iloc[0] if similar_rows[col].dropna().shape[0] > 0 else None

        # إضافة الفهارس إلى قائمة التجاهل لتجنب تكرار الدمج
        skip_indexes.update(similar_rows.index)

    merged_rows.append(row)

# ✅ إنشاء DataFrame جديد بالبيانات المدمجة
df_merged = pd.DataFrame(merged_rows)

# ✅ حفظ الملف بعد التنظيف
df_merged.to_csv("path_to_save_hello_file.csv", index=False)

# ✅ طباعة عدد الصفوف والأعمدة بعد الدمج
print(f"📊 عدد الصفوف بعد الدمج: {df_merged.shape[0]}")
print(f"📊 عدد الأعمدة: {df_merged.shape[1]}")

Mounted at /content/drive

<ipython-input-2-155e42e70cf6>:7: DtypeWarning: Columns (13,16,18,19,23,25,27,28,29,30,31,38,39,40,43,46,49,52,53,54,55,56,57,58,59,60,61,62,63,66,72,74,75,76,79,80,85,89,90,91,92,94,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/My Drive/FE462_final_file.csv", parse_dates=['REGN_DATE'])

In [ ]:
import pandas as pd
from google.colab import drive

# 📌 1️⃣ تحميل Google Drive
drive.mount('/content/drive')

# 📌 2️⃣ تحديد مسار الملف
file_path = '/content/drive/My Drive/FE462.csv'

# 📌 3️⃣ تحميل البيانات
df = pd.read_csv(file_path)
print(f"قبل التنظيف: {df.shape[0]} صف، {df.shape[1]} عمود")

df = df.drop(df.columns[0], axis=1)
# 📌 5️⃣ حذف الصفوف المكررة بالكامل
df_cleaned = df.drop_duplicates()

# 📌 6️⃣ طباعة عدد الصفوف قبل وبعد التنظيف
print(f"🔹 عدد الصفوف قبل التنظيف: {len(df)}")
print(f"🔹 عدد الصفوف بعد التنظيف: {len(df_cleaned)}")

# 📌 7️⃣ دمج الصفوف بناءً على تطابق الأعمدة 'SAMPLE_ID' و 'AGE_MONTHS'
df_merged = df_cleaned.groupby(['SAMPLE_ID', 'AGE_MONTHS'], as_index=False).agg(
    lambda x: x.dropna().iloc[0] if x.dropna().shape[0] > 0 else None
)

# 📌 8️⃣ حفظ الملف المدمج في Google Drive
output_path = "/content/drive/My Drive/FE462_Merged.csv"
df_merged.to_csv(output_path, index=False)

# 📌 9️⃣ طباعة عدد الصفوف والأعمدة بعد الدمج
print(f"✅ عدد الصفوف بعد الدمج: {df_merged.shape[0]}")
print(f"✅ عدد الأعمدة: {df_merged.shape[1]}")

# 📌 🔟 عرض أول 5 صفوف من الملف النهائي
df_merged.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-4-0467eb968970>:11: DtypeWarning: Columns (14,15,16,17,19,20,23,24,26,28,29,30,31,32,39,40,41,43,44,47,50,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,73,75,76,77,78,79,80,81,82,83,84,86,90,91,92,93,94,95,96,97,99,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

قبل التنظيف: 900000 صف، 102 عمود
🔹 عدد الصفوف قبل التنظيف: 900000
🔹 عدد الصفوف بعد التنظيف: 899915
✅ عدد الصفوف بعد الدمج: 750305
✅ عدد الأعمدة: 101

,SAMPLE_ID,AGE_MONTHS,RESEARCH_ID,COLLECTYEAR,REGN_DATE,GENDER_NAME,AGE_YEARS,AGE_DAYS,CITY_NAME,HEIGHT,...,'Leucocyte esterase','Concentration','Creatinine in Serum','Sodium (Na) in Serum','Bilirubin (Direct)','Magnesium (Mg) in Serum','Titre on Hep2 cells','HDL Cholesterol','Globulin in Serum','Cystatin C'
0,101510002R015-23-95310,402.0,R015-23-95310,2015.0,2015-09-10,MALE,33.0,12053.0,Riyadh,165,...,None,None,0.69,138.0,0.30,None,None,40,3.0,None
1,101510003R015-23-230805,657.0,R015-23-230805,2015.0,2015-09-10,MALE,54.0,19721.0,Riyadh,167,...,None,None,0.83,136.0,0.20,None,None,46,2.4,None
2,101510005R015-23-635255,450.0,R015-23-635255,2015.0,2015-09-10,FEMALE,37.0,13514.0,Riyadh,0,...,None,None,0.68,None,None,None,None,None,NaN,None
3,101510006R015-23-131335,426.0,R015-23-131335,2015.0,2015-09-10,FEMALE,35.0,12783.0,Riyadh,0,...,None,None,0.77,None,None,None,None,None,NaN,None
4,101510010R015-23-411647,554.0,R015-23-411647,2015.0,2015-09-10,MALE,46.0,16634.0,Riyadh,0,...,None,None,0.82,None,None,None,None,None,NaN,None

In [ ]:
import pandas as pd
from google.colab import drive

# تحميل Google Drive
drive.mount('/content/drive')

# قراءة الملف من Google Drive
file_path = '/content/drive/My Drive/FE462_Merged.csv'
df = pd.read_csv(file_path)

# حساب عدد القيم المفقودة (NULL) في كل عمود
missing_values = df.isnull().sum()

# طباعة عدد القيم المفقودة لكل عمود
print("📊 عدد القيم المفقودة (NULL) في كل عمود:\n")
print(missing_values)

# حفظ النتيجة في ملف CSV داخل Google Drive
missing_values.to_csv('/content/drive/My Drive/missing_values_report.csv')
print("✅ تم حفظ تقرير القيم المفقودة في Google Drive باسم 'missing_values_report.csv'!")

Mounted at /content/drive

<ipython-input-1-6f0eaa03a7d4>:9: DtypeWarning: Columns (13,14,15,16,18,19,22,23,25,27,28,29,30,31,38,39,40,41,42,43,45,46,49,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,69,72,74,75,76,77,78,79,80,81,82,83,85,89,90,91,92,93,94,95,96,98,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

📊 عدد القيم المفقودة (NULL) في كل عمود:

SAMPLE_ID                         0
AGE_MONTHS                        0
RESEARCH_ID                       0
COLLECTYEAR                       0
REGN_DATE                         0
                              ...
'Magnesium (Mg) in Serum'    733515
'Titre on Hep2 cells'        748007
'HDL Cholesterol'            453823
'Globulin in Serum'          481987
'Cystatin C'                 750297
Length: 101, dtype: int64
✅ تم حفظ تقرير القيم المفقودة في Google Drive باسم 'missing_values_report.csv'!

In [ ]:
import pandas as pd

# تحميل التقرير السابق
file_path = "/content/drive/My Drive/missing_values_report.csv"

# قراءة التقرير
missing_values_df = pd.read_csv(file_path, names=['Column', 'Missing Values'])

# تحويل التقرير إلى ملف Excel
excel_path = "/content/drive/My Drive/missing_values_report.xlsx"
missing_values_df.to_excel(excel_path, index=False)

print(f"✅ تم حفظ التقرير في Google Drive باسم: missing_values_report.xlsx")

✅ تم حفظ التقرير في Google Drive باسم: missing_values_report.xlsx